/** 设置h46px 的按钮 */
.el-button.el-button-h50 {
  padding: 16px 20px;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
}
button.el-button--default:hover {
  background: #fff;
  color: $title-color-3;
  border-color: $title-color-3;
}
button.el-button--default:focus {
  background: #fff;
  color: $title-color-3;
  border-color: $border-color-1;
}

/** 设置分页组件样式 */
.el-pagination.is-background .el-pager li.number, .el-pagination.is-background .el-pager li.more{
  background: transparent;
}
.el-pagination.is-background .el-pager li.number:hover {
  background: $bg-color-5;
}
.el-pagination.is-background {
  font-weight: normal;
}
.el-pagination.is-background .el-pager li.active + li, .el-pagination.is-background .el-pager li {
  // border-left: 1px solid gainsboro;
  line-height: 30px;
  border: none;
}

/** 设置input */
.el-input.el-input-radius2px .el-input__inner {
  border-radius: 2px;;
}
.el-input--medium.el-input-radius .el-input__inner{
  border-radius: 20px;
}
.el-form-item.is-error .el-input.no-error .el-input__inner {
  border-color: $border-color-2;
}
.el-textarea .el-input__count {
  line-height: 22px;
}
/** 新增input size big 属性 */
.el-input--big {
  font-size: 16px
}
.el-input--big .el-input__inner {
  height: $--input-big-height;
  line-height: $--input-big-height;
}
.el-input--big .el-input__icon {
  line-height: $--input-big-height;
}

/** 下拉框 */
.el-cascader-node:hover,
.el-cascader-node:focus,
.el-dropdown-menu__item:hover {
  background: $bg-color-1 !important;
}

/**折叠面板**/
.el-collapse-item__content{
  padding-bottom: 0 !important;
}

/** dialog */
div.el-dialog {
  box-shadow: none;
}
.el-dialog__wrapper .app-dialog.el-dialog {
  border-radius: 8px;
  .el-dialog__header {
    font-size: 18px;
    text-align: left;
    color: $title-color-1;
    padding: 32px 0 20px 40px;
    font-weight: bold;
    .title-tips {
      font-size: 14px;
      color: $font-color-9;
    }
  }
  .el-dialog__body {
    padding: 0px;
  }
  .el-dialog__footer {
    padding: 52px 40px 30px 0;
    .el-button {
      width: 88px;
    }
    .el-button--default {
      font-weight: normal;
    }
    .el-button--default:hover {
      font-weight: 500;
    }
    .el-button:last-child{
      width: 116px;
    }
    .el-button + .el-button {
      margin-left: 16px;
    }
  }
}
/** message box */
.el-message-box.el-message-box--center {
  padding-bottom: 0px;
  border: none;
}
.el-message-box.el-message-box--center .el-message-box__btns {
  text-align: right;
}
.el-message-box.el-message-box--center .el-message-box__status {
  padding-right: 10px;
  height: 22px;
  &::before {padding-left: 0;}
}
.el-message-box.el-message-box--center .el-message-box__content {
  text-align: left;
}
.el-message-box .el-message-box__header, .el-message-box.el-message-box--center .el-message-box__header{
  padding: 32px 14px 6px 40px;
}
.el-message-box.el-message-box--center .el-message-box__title {
  justify-content: start;
}
.el-message-box.el-message-box--center .el-message-box__content {
  padding-left: 76px;
}
.el-message-box .el-message-box__title {
  font-size: 16px;
  color: $title-color-1;
  span {
    font-weight: bold;
  }
}
.el-message-box .el-message-box__content {
  padding: 0 34px;
}
.el-message-box .el-message-box__message {
  font-size: 14px;
  color: $title-color-2;
  p:first-child {
    padding-left: 6px;
  }
}
.el-message-box.el-message-box--center .el-message-box__message {
  p:first-child {
    padding-left: 0px;
  }
}
.el-message-box .el-message-box__btns {
  padding: 52px 40px 30px 0;
  .el-button {
    width: 88px;
  }
  .el-button:last-child{
    width: 116px;
  }
  .el-button + .el-button {
    margin-left: 16px;
  }
  .el-button--default {
    font-weight: normal;
  }
  .el-button--default:hover {
    font-weight: 500;
  }
  .el-button--default.el-button--primary:focus {
    background: $bg-color-4;
    border-color: $border-color-2;
    color: #fff;
  }
  .el-button--default.el-button--primary:hover {
    background: mix(#fff, $bg-color-4, 20%);
    border-color: mix(#fff, $border-color-2, 20%);
    color: #fff;
  }
}

/** el image */
.el-image {
  border-radius: 4px;
}

/** el message */
div.el-message {
  padding: 10px 16px;
  min-width: auto;
  i {
    font-size: 16px;
  }
  .el-message__content {
    font-size: 12px;
  }
}

/** el date */
.el-date-editor span.el-range-separator{
  line-height: $--input-height - 8px;
}

/** el tag */
.el-select__tags, .custom__tags {
  .el-tag.el-tag--info .el-tag__close, .el-tag.el-tag--info .el-tag__close:hover {
    color: #fff;
    background-color: #BCBEC0;
  }
}

/**el cascader*/
.el-cascader-node.is-active .el-icon-check{
  display: none;
}