/** 设置h46px 的按钮 */
.el-button.el-button-h46 {
  padding: 14px 20px;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
  min-height: 46px;
  box-sizing: border-box;
}

/** 设置分页组件样式 */
.el-pagination.is-background .el-pager li.number, .el-pagination.is-background .el-pager li.more{
  background: transparent;
}
.el-pagination.is-background .el-pager li.number:hover {
  background: $bg-color-5;
}
.el-pagination.is-background {
  font-weight: normal;
}
.el-pagination.is-background .el-pager li.active + li, .el-pagination.is-background .el-pager li {
  // border-left: 1px solid gainsboro;
  border: none;
}

/** 设置input */
.el-input.el-input-radius2px .el-input__inner {
  border-radius: 2px;;
}
.el-input--medium.el-input-radius .el-input__inner{
  border-radius: 20px;
}
.el-form-item.is-error .el-input.no-error .el-input__inner {
  border-color: $border-color-2;
}
.el-textarea .el-input__count {
  line-height: 22px;
}

/** 下拉框 */
.el-select-dropdown__item.hover, 
.el-select-dropdown__item:hover, 
.el-cascader-node:hover,
.el-autocomplete-suggestion li:hover {
  background: $bg-color-5 !important;
}

.el-dialog__wrapper .bpp-dialog.el-dialog{
  border-radius: 8px;
  .el-dialog__body {
    padding: 0px;
  }
}

/** dialog */
.el-dialog__wrapper .app-dialog.el-dialog {
  border-radius: 4px;
  .el-dialog__header {
    font-size: 18px;
    text-align: left;
    color: $title-color-1;
    padding: 32px 0 20px 40px;
    font-weight: bold;
    .title-tips {
      font-size: 14px;
      color: $font-color-9;
    }
  }
  .el-dialog__body {
    padding: 0px;
  }
  .el-dialog__footer {
    padding: 34px 34px 24px 0;
    .el-button {
      width: 88px;
    }
    .el-button:last-child{
      width: 116px;
    }
    .el-button + .el-button {
      margin-left: 16px;
    }
  }
}
/** message box */
.el-message-box .el-message-box__header {
  font-size: 16px;
  color: $title-color-1;
  padding: 34px 14px 14px 34px;
}
.el-message-box .el-message-box__content {
  padding: 0 34px;
}
.el-message-box .el-message-box__message {
  font-size: 14px;
  color: $title-color-2;
}
.el-message-box .el-message-box__btns {
  padding: 34px 34px 24px 0;
  .el-button {
    width: 88px;
  }
  .el-button:last-child{
    width: 116px;
  }
  .el-button + .el-button {
    margin-left: 16px;
  }
}