// 普通按钮样式
.c-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: 1px solid $main-color-1;
  color: $main-color-1;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  transition: .1s;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.c-btn.c-big-btn {
  padding: 15px 20px;
}
.c-btn:hover {
  border-color: $bg-color-5;
  background: $bg-color-5;
}
.c-btn.c-loading-btn {
  position: relative;
  pointer-events: none;
  &::before {
    font-family: element-icons!important;
    content: "\e6cf";
    display: inline-block;
    animation: rotating 2s linear infinite;
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

// 按钮radio样式
.c-button-group-radio {
  .c-button-radio {
    height: $--input-height;
    width: 148px;
    border: 1px solid $border-color-1;
    line-height: $--input-height;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
  }
  .c-button-radio + .c-button-radio {
    margin-left: 20px;
  }
  .c-button-radio:hover,.active {
    background: $bg-color-5;
    color: $main-color-1;
    border-color: $border-color-2;
  }
  .active {
    font-weight: bold;
  }
}


.btn-box{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  margin-top: 48px;
  text-align: center;
  .btn-pre, .btn-confirm {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
  }
  .btn-pre{
    width: 126px;
    border-radius: 4px 0px 0px 4px;
  }
  .btn-pre.is-plain:hover, .btn-pre.is-plain {
    background: #fff;
    color: $main-color-1;
    border-color: $border-color-2;
  }
  .btn-confirm{
    width: 240px;
    border-radius:0px 4px 4px 0px;
  }
  .el-button {
    padding: 16px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .el-button.full {
    border-radius: 4px;
    margin-right: 8px;
    width:366px;
  }
  .el-button+.el-button {
    margin-left: 0;
  }
  .over-lay{
    position: relative;
    display: flex;
    z-index: 2;
  }
  .mask{
    width:360px;
    height:50px;
    border-radius: 4px;
    border:1px solid $bg-color-4;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 8px;
  }
}
button, button:hover{
  outline: none !important;
}