/** 滚动条样式 */
.warpper-scroll::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-clip: padding-box;
}
.warpper-scroll::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb{
  background-color: $scroll-bar-color;
  border-radius: 4px;
}

/** 模拟表单的占位符样式 */
.input-placeholder-span {
  color: $--color-text-placeholder !important;
  font-size: 14px;
}

/** b端联系客服弹窗样式 */
.contact-wrapper {
  text-align: center;
  p {
    color: $title-color-2;
    font-size: 14px;
    line-height: 20px;
  }
  .contact-title {
    font-size: 26px;
    color: $title-color-1;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .contact-qrcode {
    display: inline-block;
    width: 194px;
    margin: 8px 0 30px;
    img {
      max-width: 100%;
    }
  }
  .contact-number {
    font-weight: bold;
    color: $main-color-1;
    font-size: 30px;
    padding-bottom: 48px;
    margin-top: 14px;
  }
}