
// 清除浮动
@mixin clearfix() {
  *zoom: 1;
  &::after {
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
  }
}

// 水平垂直居中
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 仅仅垂直居中
@mixin flex-v-center() {
  display: flex;
  align-items: center;
}

// 两端对齐，项目之间的间隔都相等
@mixin flex-justify-between() {
  display: flex;
  justify-content: space-between;
}

// 两端对齐
@mixin flex-between() {
  display: flex;
  justify-content: space-between;
}

// 主轴的项目两侧的间隔相等
@mixin flex-justify-around() {
  display: flex;
  justify-content: space-around;
}

// 主轴为垂直方向，起点在上沿
@mixin flex-direction-column() {
  flex-direction: column;

@mixin flex-v-top() {
  display: flex;
  align-items: flex-start;
}

// 单行省略号
@mixin ellipsis(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 多行省略号
@mixin ellipsis-two() {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}

// a链接
@mixin a-block($color) {
  color: $color;
  text-decoration: none;
  display: block;
}

// img border-radius 
@mixin img-radius($height, $width, $radius:50%, $bgcolor: #fff) {
  width: $height;
  height: $width;
  border-radius: $radius;
  background: $bgcolor;
  overflow: hidden;
  text-align: center;
  img {
    max-width: 100%;
    min-height: 100%;
  }
}