
.tooltip.is-light.el-tooltip__popper {
	max-width:298px;
	background:#fff;
	box-shadow:0px 0px 30px 0px rgba(22,39,77,0.07);
  padding: 11px 12px;
  box-sizing: border-box;
  border-color: #FFFFFF;
  .popper__arrow::after {
    border-left-color: #FFFFFF;
  }
  p {
    font-size: 12px;
    line-height:18px;
    color: $title-color-1;
  }
}
.pagination {
  height: 102px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .number {
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(220, 220, 220, 1);
    color: rgba(101, 39, 145, 1);
    background: #fff;
    &.active {
      color: rgba(102, 102, 102, 1);
      background: none;
      border: none;
    }
  }
  span {
    height: 30px;
    padding: 0px 11px;
    line-height: 30px;
    box-sizing: border-box;
  }
  .total {
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
  }
  button {
    height: 30px;
    box-sizing: border-box;
    span {
      height: 30px;
      color: rgba(101, 39, 145, 1);
      background: #fff;
      border: 1px solid rgba(220, 220, 220, 1);
      box-sizing: border-box;
    }
  }
}

.el-input__inner {
	background: none !important;
}