

// 主样式
$main-color-1: #03B3BB;
$main-color-2: #35E5ED;
// $main-color-3: #BC94D7;

// 辅助颜色
$sub-color-1: #FF9E40;
// $sub-color-1: $main-color-1;

// 按钮禁止点击
$btn-forbid: #F8FAFA;

// 警告颜色
$error-color-1: #FF9E40;

// element-ui
$--color-primary: $main-color-1;
$--color-warning: $error-color-1;
$--button-primary-background-color: #00C4CD;
$--button-primary-border-color: #00C4CD;
$--button-small-height: 32px;

/// color||Color|0
$--button-disabled-font-color: #929292;
/// color||Color|0
$--button-disabled-background-color: #E9EAEA;
/// color||Color|0
$--button-disabled-border-color: #E9EAEA;

$--tooltip-fill: #fff;

$--input-big-height: 50px;
$--input-height: 40px;
// $--input-medium-height: 40px;
$--border-color-base: #DDE1E0;
$--input-hover-border: #00C4CD;
$--input-font-color: #333;
$--select-border-color-hover: #00C4CD;
$--color-text-placeholder: #BCBEC0;
$--input-disabled-fill: #F8FAFA;
$--input-disabled-border : #DDE1E0;
$--input-disabled-color: #99999e;

$--msgbox-border-radius: 8px;
$--scrollbar-background-color:#DDE1E0;


// 高亮字体颜色
$lightFont-color-orange: #FF9E40;
$lightFont-color-purple: $main-color-1;

// 图标颜色
$iconFont-gray: #BCBEC0;;

// 背景颜色
$bg-color-1: #F8FAFA;
$bg-color-2: #212628;
$bg-color-3: #2A3436;
$bg-color-4: #00C4CD;  // (主题色)
// $bg-color-5: #EFE9F4;
$bg-color-5: #E5F9FA;  // (主题色)
$bg-color-6: #F5F4F7;
$bg-color-7: #F2FCFC;
$bg-color-8: #F8F8F8;
$bg-color-9: $sub-color-1;
$bg-color-10: #FFDC2A;
$bg-color-11: #F4F7F7;
$bg-color-12: #363A3C;
$bg-color-13: #DDE1E0;

// 线条颜色
// $border-color-1: #E8E9EB;
$border-color-1: #DDE1E0;
$border-color-2: #00C4CD; // (主题色)
$border-color-3: #F1F2F2;
$barder-color-4: #BCBEC0;;
$border-color-5: #BCBEC0;;
$border-color-6: #DCDCDC;
$border-color-7: #66666E;
$border-color-8: #EDF1F0;
// scroll bar 滚动条配置
$scroll-bar-color: #EBEBEB;

// #000-#FFF
$font-color-1: #16274D;
$font-color-2: #282828;
$font-color-3: #333333;
$font-color-5: #5C565D;
$font-color-6: #66666E;
$font-color-9: #92929B;
$font-color-10: #BCBEC0;
$font-color-12: #BCBEC0;;


// 标题颜色
$title-color-1: $font-color-3;
$title-color-2: $font-color-6;
$title-color-3: $font-color-9;

// 导航颜色
$nav-color-hover: #4CD5DB;
$nav-color-default: rgba(#fff, .58);
$nav-color-bg-color: $bg-color-2;

// 阴影
$shadow-1: 0 0 30px 0 rgba(22,39,77,0.07);
$shadow-2: 0 0 30px 2px rgba(24,22,77,0.10);
$shadow-3: 0px 3px 20px 2px rgba(0,0,0,0.09);

// 页面宽度 (主要宽度)
$page-width: 1200px;

// c端layout头部高度
$page-header-height: 50px;
// c端layout脚部的高度
$page-footer-height: 200px;
// b端layout侧边栏宽度
$page-b-side-width: 200px;
// b端layout头部高度
$page-b-header-height: 60px;
$page-b-bg-color: #3E294D;
