

// 主样式
$main-color-1: #652791;
$main-color-2: #8452A7;
$main-color-3: #BC94D7;

// 辅助颜色
$sub-color-1: #FFDC29;

// 按钮禁止点击
$btn-forbid: #E6E6E6;

// 警告颜色
$error-color-1: #FF7F4C;

// element-ui
$--color-primary: $main-color-1;
$--color-warning: $error-color-1;
$--input-height: 46px;
$--input-medium-height: 40px;


// 高亮字体颜色
$lightFont-color-orange: #FF7F4C;
$lightFont-color-purple: #652791;

// 图标颜色
$iconFont-gray: #CDCBCF;

// 背景颜色
$bg-color-1: #FBFBFF;
$bg-color-2: #323236;
$bg-color-3: #4A4534;
$bg-color-4: #652791;
$bg-color-5: #EFE9F4;
$bg-color-6: #F5F4F7;
$bg-color-8: #F8F8F8;
$bg-color-9: $sub-color-1;
$bg-color-10: #FFDC2A;


// 线条颜色
$border-color-1: #E8E9EB;
$border-color-2: $main-color-1;
$border-color-3: #F1F2F2;
$barder-color-4: #CDCBCF;
$border-color-5: #BCBCBC;

// scroll bar 滚动条配置
$scroll-bar-color: #EBEAEB;

// #000-#FFF
$font-color-1: #16274D;
$font-color-2: #282828;
$font-color-3: #333333;
$font-color-6: #6D696E;
$font-color-9: #929292;
$font-color-10: #A29CA6;
$font-color-11: #ABABAB;
$font-color-12: #CDCBCF;

// 标题颜色
$title-color-1: $font-color-3;
$title-color-2: $font-color-6;
$title-color-3: $font-color-10;

// 导航颜色
$nav-color-hover: #fff;
$nav-color-default: $font-color-11;

// 阴影
$shadow-1: 0 0 30px 0 rgba(22,39,77,0.07);
$shadow-2: 0 0 30px 2px rgba(24,22,77,0.10);

// 页面宽度 (主要宽度)
$page-width: 1200px;

// c端layout头部高度
$page-header-height: 50px;
// c端layout脚部的高度
$page-footer-height: 200px;
// b端layout侧边栏宽度
$page-b-side-width: 200px;
// b端layout头部高度
$page-b-header-height: 60px;
$page-b-bg-color: #3E294D;
