.post-job {
  padding-bottom: 50px;
  width: 100%;
  box-sizing: border-box;
  & > h2 {
    margin-bottom: 30px;
  }
  .edit-form {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 48px 82px 32px 82px;
    background: #fff;
    .tags {
      margin-bottom: -10px;
    }

    & > .btn-container {
      display: flex;
      justify-content: flex-start;
      margin-left: 35px;
      .btn_submit {
        height: 40px;
        width: 124px;
        border-radius: 4px;
        background: #00C4CD;
        border: 1px solid #00C4CD;
        box-sizing: border-box;
        margin-right: 24px;
        font-weight: 400;
        &:hover{
          background: mix(#fff, $bg-color-4, 20%);
          border-color: mix(#fff, $border-color-2, 20%);
          color: #fff;
        }
      }
      .btn_cancel {
        height: 40px;
        width: 88px;
        border-radius: 4px;
        box-sizing: border-box;
        background: #ffffff;
        border: 1px solid #BCBEC0;
        font-weight: 400;
        &:hover{
          border-color: #92929B;
        }
      }
      .cloJob {
        width:80px;
        height:40px;
        font-size:16px;
        font-weight:700;
        color:#03B3BB;
        line-height:40px;
        margin-left: 40px;
        cursor: pointer;
      }
    }
    .ruleHint {
      font-size:12px;
      font-weight:400;
      color:rgba(0,0,0,0.65);
      line-height:22px;
      margin: 50px 0 24px 35px;
      text-align: left;
      span{
        cursor: pointer;
        color:#03B3BB;
      }
    }
  }

  .confirm-dialog {
    .title,
    .content {
      text-align: center;
    }
  }


}

.title {
  font-size:24px;
  font-weight:bold;
  color:#333333;
  line-height:33px;
  text-align: left;
  &.second {
    margin-top: 82px;
  }
}
.hint {
  font-size:12px;
  font-weight:400;
  color:#92929B;
  line-height:20px;
  margin-top: 8px;
  margin-bottom: 48px;
  text-align: left;
}
.pop {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  margin-right: 0;
}

.phoneInp{
  >input{
    width: 100%;
    height: 100%;
  }
}

.address_line {
  width: 340px;
  float: left;
  .add_icon {
    font-size: 14px;
    float: left;
    margin-right: 8px;
    position: relative;
  }
  &.cur {
    color: #03B3BB;
    .iconfont {
      top: 0;
    }
  }
}

.el-form-item {
  margin-bottom: 30px;
}

.emolument {
  .emolument_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    .emolument_line {
      font-size:14px;
      font-weight:bold;
      color:#BCBEC0;
      margin:  0 10px;
    }
  }
}


