$content-left: 852px;
$content-right: 298px;
img {
	width: 100%;
	display: block;
	margin: 0 auto;
	&.vertical {
		width: auto;
		height: 100%;
	}
}

.inner {
	margin: 0 auto;
	width: $page-width;
}

.positionDetail {
	width: 100%;
	background: #fff;
	padding-bottom: 40px;
	&.overflow {
		overflow: hidden;
		height: calc(100vh - #{$page-header-height} - #{$page-footer-height});
		box-sizing: border-box;
	}
	.header {
		width: 100%;
		padding: 34px 0 30px;
		background-color: $bg-color-1;
		transition: all .4s;
		top: -90px;
		.inner {
			@include clearfix;
			.header-content {
				width: $content-left;
				float: left;
				.title {
					font-size: 0;
					display: flex;
					align-items: center;
					.name {
						color: $font-color-3;
						font-size: 24px;
						font-weight:400;
						line-height:34px;
					}
					.icon {
						width:60px;
						height:26px;
						border-radius:2px;
						text-align: center;
						line-height: 26px;
						display: inline-block;
						font-size:14px;
						font-weight:400;
						color:#fff;
						line-height:26px;
						margin-right: 11px;
						&.jipin {
							background: url(#{$image-cdn-url}/images/tag_job_detail.png) no-repeat;
							background-size: 100% 100%;
						}
					}
				}
				.salary {
					font-size:36px;
					font-weight:700;
					color:$lightFont-color-orange;
					line-height:50px;
					display: flex;
					align-items: center;
					.unit {
						font-size:30px;
						font-weight:700;
						margin: 0 0 0 5px;
					}
				}
				.infos {
					margin-top: 7px;
					font-size: 0;
					.info-item {
						font-size:12px;
						font-weight:400;
						color: $font-color-6;
						line-height:18px;
						margin-right: 20px;
						display: inline-block;
						.icon {
							font-size: 14px;
							color: #BCBEC0;;
							margin-right: 7px;
						}
					}
				}
				.labels {
					margin-top: 20px;
					height: 24px;
					overflow: hidden;
					.label-item {
						padding: 0 16px;
						height: 24px;
						box-sizing: border-box;
						line-height: 24px;
						background: transparent;
						border-radius:18px;
						margin-right: 16px;
						font-size:12px;
						color: $main-color-1;
						border:1px solid $border-color-2;
						display: inline-block;
					}
				}
			}
			.aside {
				width: $content-right;
				float: right;
				height: 100%;
				padding-left: 50px;
				padding-top: 40px;
				.operBox {
					.btn {
						width: 100%;
						height:36px;
						line-height: 36px;
						border-radius:4px;
						font-size:14px;
						font-weight:400;
						color:#fff;
						text-align: center;
						padding: 0;
						border: none;
						&.kailiao {
							background:$bg-color-4;
						}
					}
				}
				.botBtnBox {
					margin-top: 15px;
					position: relative;
					display: flex;
					justify-content: space-between;
					.botBtn {
						cursor: pointer;
						font-size:14px;
						font-weight:400;
						color: $lightFont-color-purple;
						line-height:20px;
						white-space: nowrap;
						display: inline-block;
						&.noMargin {
							margin-right: 0;
						}
						.icon {
							font-size: 14px;
							margin-right: 8px;
						}
					}
					.wxShare {
						position: absolute;
						bottom: -12px;
						transform: translate3d(0, 100%, 0);
						left: -12px;
						width: 124px;
						height: 124px;
						background: #fff;
						box-shadow:0px 0px 30px 0px rgba(22,39,77,0.07);
						border-radius: 5px;
						&:after {
							content: '';
							top: -10px;
							left: 50%;
							transform: translate3d(-50%, 0, 0);
							position: absolute;
							width: 0;
					    height: 0;
					    border-bottom: 10px solid #fff;
					    border-right: 10px solid transparent;
					    border-left: 10px solid transparent;
						}
						.qrcode {
							width: 100px;
							display: block;
							margin: 12px auto;
						}
					}
					.poster {
						position: absolute;
						left: 0;
						padding-top: 22px;
						bottom: 0px;
						transform: translate3d(0, 100%, 0);
						width: 100%;
						box-sizing: border-box;
						border-radius: 10px;
						box-shadow:0px 0px 14px 0px rgba(22,39,77,0.04);
						&:after {
							content: '';
							top: 12px;
							left: 50%;
							transform: translate3d(-50%, 0, 0);
							position: absolute;
							width: 0;
					    height: 0;
					    border-bottom: 10px solid #fff;
					    border-right: 10px solid transparent;
					    border-left: 10px solid transparent;
						}
						
					}
				}
			}
		}
		&.isRapidly {
			background:#03B3BB;
			padding: 0;
			.inner {
				.header-content {
					.name, .info-item {
						color: #fff !important;
					}
					.salary {
						color: #fff !important;
					}
					.label-item {
						color: #fff;
						background: transparent;
						border:1px solid #fff;
					}
					.infos {
						.info-item {
							.icon {
								color: #fff;
							}
						}
					}
				}
				.aside {
					padding-top: 6px;
					.yuemian24 {
						padding-left: 52px;
						position: relative;
						font-size: 0;
						margin-bottom: 12px;
						.logo {
							width: 42px;
							position: absolute;
							top: 0;
							left: 0;
						}
						.number {
							display: inline-block;
							font-size:14px;
							font-weight:400;
							color:#fff;
							line-height:20px;
							position: relative;
							.num {
								font-size:24px;
								font-weight:700;
								color: #fff;
								line-height:20px;
								margin-right: 3px;
							}
							.desc {
								font-size:12px;
							}
						}
						.number::after {
							position: absolute;
							content: "";
							height: 24px;
							border-left: 1px dashed rgba(#fff, .5);
							width: 1px;
							right: -12px;
							top: 12px;
						}
						.timeBox {
							float: right;
							font-size:14px;
							font-weight:400;
							color:#fff;
							line-height:20px;
							.little-box {
								width:24px;
								height:24px;
								font-weight: 700;
								background: #fff;
								border-radius:4px;
								line-height: 24px;
								text-align: center;
								font-size:16px;
								color: $lightFont-color-orange;
								display: inline-block;
								margin: 0 5px;
								&:last-child {
									margin-right: 0;
								}
							}
							.desc {
								font-size:12px;
								font-weight:400;
								color:#fff;
								line-height:14px;
								margin-top: 5px;
								transform: scale(0.9);
								display: flex;
								align-items: center;
								justify-content: center;
								.icon {
									width: 12px;
									height: 12px;
									display: inline-block;
									background: url(#{$image-cdn-url}/images/wenhao.png) no-repeat;
									background-size: 100%;
									margin-left: 4px;
									transform: scale(0.9);
								}
							}
						}
					}
					.operBox {
						.kailiao {
							background: $sub-color-1 !important;
							color: $main-color-1 !important;
						}
					}
					.botBtnBox {
						.botBtn {
							color: #fff;
							&.cur .icon{
								color: #fff;
							}
						}
					}
				}
			}
		}
		&.isRapidly .inner-bg {
			padding: 34px 0 30px;
			width: 1440px;
			background: url(#{$image-cdn-url}/images/24h.png);
			background-position: right 125%;
			margin: 0 auto;
			background-repeat: no-repeat;
		}
		&.positionDetail-hidden {
			top: -90px;
			transition: all 0.3s;
			position: fixed;
			z-index: 11;
			padding: 0;
			&.isRapidly {
				background-position: right 40%;
			}
			.inner-bg {
				background-position: right -50%;
				height: 90px;
				line-height: 90px;
				padding: 0;
				.inner {
					display: flex;
					align-items: center;
					.salary {
						margin-left: 14px;
						font-size:30px;
						line-height: 1;
					}
					.aside {
						padding-top: 0;
					}
				}
			}
		}
		&.headerFloat {
			top: 0;
		}
	}
	.content {
		padding-top: 36px;
		overflow: hidden;
		.content-article {
			width: $content-left;
			float: left;
			border-right: 1px solid $border-color-3;
			box-sizing: border-box;
			padding-right: 100px;
			margin: 0;
			.part {
				margin-bottom: 60px;
				&:last-child {
					margin-bottom: 0;
				}
				.title {
					font-size:16px;
					font-weight:700;
					color:$font-color-3;
					line-height:24px;
					padding-bottom: 24px;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 14px;
						width:22px;
						height:2px;
						background: $bg-color-4;
					}
				}
				.labels {
					font-size: 0;
					.label-item {
						font-size:14px;
						font-weight:400;
						color:$font-color-6;
						line-height:28px;
						padding: 0 14px;
						background: $bg-color-1;
						margin-right: 16px;
						display: inline-block;
					}
				}
				.richText {
					font-size:14px;
					font-weight:400;
					color:$font-color-3;
					line-height:26px;
					white-space: pre-wrap;
					margin: 0;
				}
				.address {
					width:750px;
					height:50px;
					background: #fff;
					padding: 0 13px;
					display: flex;
					align-items: center;
					box-sizing: border-box;
					font-size:14px;
					font-weight:400;
					color:$font-color-3;
					line-height:20px;
					box-shadow: $shadow-1;
				}
			}
		}
		.content-aside {
			width: $content-right;
			float: right;
			.position-guide-login {
				margin-bottom: 40px;
			}
			.companyInfos {
				cursor: pointer;
				margin-bottom: 34px;
				.title {
					font-size:16px;
					font-weight:700;
					color:$font-color-3;
					line-height:24px;
				}
				.details {
					margin: 14px 0 21px;
					.logo {
						width:73px;
						height:73px;
						border-radius:4px;
						float: left;
						display: flex;
						cursor: pointer;
					}
					.name {
						margin-left: 87px;
						height: 73px;
						line-height: 73px;
						font-size:16px;
						font-weight:400;
						color:$font-color-3;
					}
				}
				.infos {
					.info-item {
						font-size:14px;
						font-weight:400;
						color:$font-color-6;
						line-height:20px;
						margin-bottom: 17px;
						.icon {
							font-size: 14px;
							margin-right: 12px;
							color: $iconFont-gray;
						}
					}
				}
			}
		}
	}
}

.el-dropdown-menu {
	background: #fff;
	.el-dropdown-menu__item {
		height: 76px;
		padding: 20px 22px 17px 68px;
		position: relative;
		box-sizing: border-box;
		cursor: pointer;
		&.qrcodeBox {
			height: auto;
    	padding: 12px;
			.qrcode {
				width: 100px;
				display: block;
			}
		}
		
		.icon {
			width: 30px;
			position: absolute;
			top: 21px;
			left: 26px;
		}
		&:first-child {
			position: relative;
			&:after {
				content: '';
				width:269px;
				height:1px;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate3d(-50%, 0, 0);
				background: #E8E9EB;
			}
		}
		.title {
			font-size:14px;
			font-weight:400;
			color:$font-color-3;
			line-height:20px;
			margin-bottom: 2px;
			.label {
				width:52px;
				height:18px;
				line-height: 18px;
				border-radius:9px;
				border:1px solid $lightFont-color-orange;
				color: $lightFont-color-orange;
				text-align: center;
				font-size:12px;
				display: inline-block;
				margin-left: 11px;
			}
		}
		.desc {
			font-size:12px;
			font-weight:400;
			color: $font-color-6;
			line-height:17px;
		}
		&:hover {
			background: $bg-color-5;
			.title {
				color: $lightFont-color-purple;
			}
		}
	}
	&.qrcodeBox {
		padding: 0;
		.el-dropdown-menu__item {
			height: auto;
    	padding: 12px;
    	&::hover {
    		background: none;
    	}
    	&::after {
    		display: none;
    	}
    	.qrcode {
				width: 100px;
				display: block;
			}
		}
	}
}

.app-links {
	margin-top: 80px;
	& /deep/ .show-more-btn {
		background: #fff !important;
	}
}
@media screen and (max-width: 1440px)  {
  .positionDetail .header.isRapidly .inner-bg {
		width: 100%;
		background-position-x: 1152px;
	}
}
  